.wrap.woocommerce {
	.form-table {
		table-layout: auto;
	}

	.wpfcs-wc-settings-wrapper {
		width: auto;
		table-layout: auto;
		@media (min-width: 1100px) {
			float: left;
			max-width: 55%;
			margin: 0 4% 0 0;
		}
	}

	p.submit {
		clear: both;
	}
}

.wpfcs-recommendations-box {
	padding: 0;
	display: inline-block;
	@media (min-width: 1100px) {
		float: left;
		max-width: 41%;
		margin: 0;
	}

	.wpfcs-tab-content {
		display: none;
		padding:22px 30px;
		background:#fff;
	}

	.wpfcs-tab-content.active {
		display: block;
	}

	.wpfcs-tab-links {
		a {
			font-weight: bold;
			font-size: 16px;
			line-height: 100%;
			letter-spacing: 0;
			color: #8D8D8D;
			text-decoration: none;
			padding:10px 15px;
			display:inline-block;
		}
		a.active {
			color: #000;
			background:#fff;
		}
		a:hover{
			color:#000;
		}
		a:focus{
			outline: none;
			box-shadow: none;
		}
	}

	.wpfcs-tabs-mechanism{
		background: #F3F3F3;
	}
}

.wpfcs-recommendation-box-title {
	font-weight: 700;
	font-size: 26px;
	line-height: 100%;
	margin: 0 0 30px 0;
}